

.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 50px;
}
.nav-title{
    font-weight: 800;
    font-size: 32px;
}
nav li{
    display: flex;
    list-style: none;
}
.btn-primary{
    font-size: 18px;
    font-weight: 600;
    color: rgba(0, 106, 80, 1);
    padding: 15px 30px;
    border-radius: 8px;


}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 20px 40px 0 40px;
    padding: 100px 80px 80px 100px;
    background-color: rgba(198, 228, 214, 1);
    border-radius: 25px;
}
.banner-content{
    max-width: 620px;
}
.banner-greetings{
    font-size: 24px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.5);
}
.banner-title{
    font-size: 56px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
}
.btn-secondary{
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: solid;
    background-color: rgba(0, 106, 80, 1);
    border-radius: 8px;
    border-style: none;
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 18px;
    padding-bottom: 18px;

}
.banner-picture{
    width: 480px;
}
main{
    max-width: 1280px;
    margin: 20px 40px 0 40px;
}
.section-title{
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
}
.section-description{
    font-size: 16px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.7);
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 24px;
}
